/* Advertisement */
.ad {
  padding: 100px 0;
}

.ad__text {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  max-width: 1080px;
  min-height: 228px;
}

.ad__highlight {
  display: inline-flex;
  align-items: center;
  min-height: 84px;
  width: fit-content;
  color: var(--white);
  background: var(--green);
  border-radius: 12px;
  padding: 0 16px;
}

.ad__line {
  display: block;
}

